[submodule "quad_stack/realsense_gazebo_plugin"]
	path = quad_stack/realsense_gazebo_plugin
	url = https://github.com/dyumanaditya/realsense_gazebo_plugin
[submodule "quad_stack/depthimage_to_laserscan"]
	path = quad_stack/depthimage_to_laserscan
	url = https://github.com/dyumanaditya/depthimage_to_laserscan
