<?xml version="1.0"?>

<model>
  <name>SilverBadger</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Matteo Luperto</name>
    <email>matteo.luperto@unimi.it</email>
  </author>

  <description>
    MAB Robotics Silver Badger
  </description>
</model>
