<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="gazebo_simulation" params="robot">

  <physics type="ode">
    <max_step_size>0.001</max_step_size>
    <real_time_factor>1</real_time_factor>
    <real_time_update_rate>1000</real_time_update_rate>
    <ode>
      <solver>
        <type>quick</type>
        <iters>300</iters>
        <sor>1.3</sor>
      </solver>
      <constraints>
        <cfm>0.00001</cfm>
        <erp>0.2</erp>
        <contact_max_correcting_vel>10.0</contact_max_correcting_vel>
        <contact_surface_layer>0.001</contact_surface_layer>
      </constraints>
    </ode>
  </physics>


    <!-- Colors-->
    <gazebo reference="body">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="rear">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="fr_l0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="fr_l1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>
    
    <gazebo reference="fr_l2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="fr_foot">
      <mu1>0.6</mu1>
      <mu2>0.6</mu2>
      <self_collide>0</self_collide>
      <kp value="1e16"/>
      <kd value="1e14"/>
      <material>Gazebo/Black</material>
    </gazebo>
    
    <gazebo reference="fl_l0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="fl_l1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>
    
    <gazebo reference="fl_l2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="fl_foot">
      <mu1>0.6</mu1>
      <mu2>0.6</mu2>
      <self_collide>0</self_collide>
      <kp value="1e16"/>
      <kd value="1e14"/>
      <material>Gazebo/Black</material>
    </gazebo>
    
    <gazebo reference="rl_l0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rl_l1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="rl_l2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rl_foot">
      <mu1>0.6</mu1>
      <mu2>0.6</mu2>
      <self_collide>0</self_collide>
      <kp value="1e16"/>
      <kd value="1e14"/>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="rr_l0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rr_l1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="rr_l2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rr_foot">
      <mu1>0.6</mu1>
      <mu2>0.6</mu2>
      <self_collide>0</self_collide>
      <kp value="1e16"/>
      <kd value="1e14"/>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="camera_mount">
      <material>Gazebo/DarkGrey</material>
    </gazebo>
    
    <gazebo reference="camera_interface">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <!-- Controllers-->
    <!-- <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <parameters>$(find mab_gazebo)/config/silver_badger_controller.yaml</parameters>
      </plugin>
    </gazebo> -->

    <gazebo>
      <plugin name="mab_gazebo_plugin" filename="libmab_control.so">
        <robot>${robot}</robot>
      </plugin>
    </gazebo>

    <!-- Sensors-->
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <gazebo reference="imu_link">
    <!-- <gazebo reference="d435i_camera_accel_frame"> -->
      <gravity>true</gravity>
      <sensor name='imu_sensor' type='imu'>
          <always_on>1</always_on>
          <update_rate>500</update_rate>
          <visualize>1</visualize>
          <topic>imu</topic>
          <plugin name='imu' filename='libgazebo_ros_imu_sensor.so'>
              <topicName>imu</topicName>
              <bodyName>imu_sensor_link</bodyName>
              <updateRateHZ>100.0</updateRateHZ>
              <xyzOffset>0 0 0</xyzOffset>
              <rpyOffset>0 0 0</rpyOffset>
              <gaussianNoise>0.0</gaussianNoise>
              <!-- <gaussianNoise>0.017</gaussianNoise> -->
          </plugin>
          <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>
    
    <!-- <gazebo reference="d435i_camera_accel_frame">
      <gravity>true</gravity>
      <sensor name='cam_imu_sensor' type='imu'>
          <always_on>1</always_on>
          <update_rate>100</update_rate>
          <visualize>1</visualize>
          <topic>cam_imu</topic>
          <plugin name='cam_imu' filename='libgazebo_ros_imu_sensor.so'>
              <topicName>cam_imu</topicName>
              <bodyName>cam_imu_sensor_link</bodyName>
              <updateRateHZ>100.0</updateRateHZ>
              <xyzOffset>0 0 0</xyzOffset>
              <rpyOffset>0 0 0</rpyOffset>
          </plugin>
          <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo> -->

    <!-- Foot Contact Sensors-->
    <gazebo reference="fr_foot">
      <sensor name="fr_foot_bumper" type="contact">
          <selfCollide>true</selfCollide>
          <alwaysOn>true</alwaysOn>
          <updateRate>50.0</updateRate>
          <material>Gazebo/Red</material>
          <contact>
              <collision>fr_l2_fixed_joint_lump__fr_foot_collision_2</collision>
          </contact>
          <plugin name="gazebo_ros_bumper_controller_fr_foot" filename="libgazebo_ros_bumper.so">
              <ros>
                  <remapping>bumper_states:=feet_contact</remapping>
              </ros>
          </plugin>
      </sensor>
  </gazebo>
    
  <gazebo reference="fl_foot">
      <sensor name="fl_foot_bumper" type="contact">
          <selfCollide>true</selfCollide>
          <alwaysOn>true</alwaysOn>
          <updateRate>50.0</updateRate>
          <material>Gazebo/Red</material>
          <contact>
              <collision>fl_l2_fixed_joint_lump__fl_foot_collision_2</collision>
          </contact>
          <plugin name="gazebo_ros_bumper_controller_fl_foot" filename="libgazebo_ros_bumper.so">
              <ros>
                  <remapping>bumper_states:=feet_contact</remapping>
              </ros>
              
          </plugin>
      </sensor>
  </gazebo>

  <gazebo reference="rr_foot">
    <sensor name="rr_foot_bumper" type="contact">
        <selfCollide>true</selfCollide>
        <alwaysOn>true</alwaysOn>
        <updateRate>50.0</updateRate>
        <material>Gazebo/Red</material>
        <contact>
            <collision>rr_l2_fixed_joint_lump__rr_foot_collision_2</collision>
        </contact>
        <plugin name="gazebo_ros_bumper_controller_rr_foot" filename="libgazebo_ros_bumper.so">
            <ros>
                <remapping>bumper_states:=feet_contact</remapping>
            </ros>
            
        </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="rl_foot">
    <sensor name="rl_foot_bumper" type="contact">
        <selfCollide>true</selfCollide>
        <alwaysOn>true</alwaysOn>
        <updateRate>50.0</updateRate>
        <material>Gazebo/Red</material>
        <contact>
            <collision>rl_l2_fixed_joint_lump__rl_foot_collision_2</collision>
        </contact>
        <plugin name="gazebo_ros_bumper_controller_rl_foot" filename="libgazebo_ros_bumper.so">
            <ros>
                <remapping>bumper_states:=feet_contact</remapping>
            </ros>
            
        </plugin>
    </sensor>
  </gazebo>

  <!-- Ground truth odom-->
  <gazebo>
    <plugin name="gazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
      <ros>
        <remapping>odom:=odom_gt</remapping>
      </ros>
      <body_name>base_link</body_name>
      <frame_name>world</frame_name>
      <update_rate>100</update_rate>
      <xyz_offset>0 0 0</xyz_offset>
      <rpy_offset>0 0 0</rpy_offset>
      <gaussian_noise>0.0</gaussian_noise>
    </plugin>
  </gazebo>

  </xacro:macro>
</robot>