<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Colors-->
    <gazebo reference="body">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="rear">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="fr_l0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="fr_l1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>
    
    <gazebo reference="fr_l2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="fr_foot">
      <mu1>0.6</mu1>
      <mu2>0.6</mu2>
      <self_collide>0</self_collide>
      <kp value="1000000.0"/>
      <kd value="1.0"/>
      <material>Gazebo/Black</material>
    </gazebo>
    
    <gazebo reference="fl_l0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="fl_l1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>
    
    <gazebo reference="fl_l2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>
    
    <gazebo reference="fl_foot">
      <mu1>0.6</mu1>
      <mu2>0.6</mu2>
      <self_collide>0</self_collide>
      <kp value="1000000.0"/>
      <kd value="1.0"/>
      <material>Gazebo/Black</material>
    </gazebo>
    
    <gazebo reference="rl_l0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rl_l1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="rl_l2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rl_foot">
      <mu1>0.6</mu1>
      <mu2>0.6</mu2>
      <self_collide>0</self_collide>
      <kp value="1000000.0"/>
      <kd value="1.0"/>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="rr_l0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rr_l1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="rr_l2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rr_foot">
      <mu1>0.6</mu1>
      <mu2>0.6</mu2>
      <self_collide>0</self_collide>
      <kp value="1000000.0"/>
      <kd value="1.0"/>
      <material>Gazebo/Black</material>
    </gazebo>

    <!-- Controller-->
    <gazebo>
      <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <parameters>$(find mab_gazebo)/config/silver_badger_controller.yaml</parameters>
      </plugin>
    </gazebo>

</robot>